services:

  frontend:
    build:
      context: ./frontend
      args:
        VITE_API_URL: ${VITE_API_URL}
    volumes:
      - ./frontend:/app/frontend
    command: npm run dev
    ports:
      - "5173:5173"
    environment:
      - "VITE_API_URL=${VITE_API_URL}"
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
    volumes:
      - ./backend:/app/backend
    ports:
      - "8080:8080"
